/* Estilos para el menú lateral */
.sidebar {
    width: 16rem;
    background-color: #5a5c69;
    color: #fff;
    padding: 0 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    height: 100vh;
    position: sticky;
    top: 0;
}

/* Estilos para el contenedor del logo en el sidebar */
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
}

/* Estilos para la imagen del logo */
.logo img {
    max-width: 100%;
    height: auto;
}

/* Estilos para la línea horizontal (hr) en el sidebar */
.logo hr {
    border: none;
    border-top: 1px solid #fff;
    width: 100%;
    margin: 10px 0;
}

/* Estilos para la lista de enlaces en el sidebar */
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: flex-start;
}

.sidebar li {
    margin-top: 20px;
    margin-bottom: 20px;
}
.sidebar li span {
    color: #FFFFFFCC;
    font-size: 0.85rem;
    display: inline;
    font-weight: 400;
}


.sidebar li span:hover {
    color: #ffffff;
}
a {
    text-decoration: none;
}
.sidebar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.active {
    background-color: #007bff; 
    color: #ffffff;     
}


/* Estilos para los iconos de FontAwesome en el sidebar */
.sidebar i {
    font-size: 18px;
    margin-right: 5px;
    margin-bottom: 10px;

}

#wrapper #content-wrapper {
    background-color: #f8f9fc;
    width: 100%;
    overflow-x: hidden;
}

#wrapper #content-wrapper #content {
    flex: 1 0 auto;
}
#wrapper {
    display: flex;
}

/* Estilos para el navbar del dashboard */
.dashboard-navbar {
    background-color: #fff;
    color: #858796;
    padding: 20px 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
    max-width: 100%;
    margin: 0;
}
/* Estilos para el contenedor de la imagen de usuario y el nombre en el navbar */
.dashboard-navbar  {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}

.user-profile {
    padding: 0 12px;
}


.user-profile span{
    font-size: 80%;
    font-weight: 400;
}


.dashboard-navbar .user-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

.dashboard-navbar .user-profile {
    font-weight: bold;
    font-size: 16px;
}

.container-fluid {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.title-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem; /* Valor predeterminado para $card-spacer-x */
    color: black; /* Valor predeterminado para $card-color */
}

.card-title {
    margin-bottom: 0.75rem; /* Valor predeterminado para $card-spacer-y */
}

.card-subtitle {
    margin-top: -0.375rem; /* La mitad del valor predeterminado para $card-spacer-y */
    margin-bottom: 0;
}
.search-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0 17px 0;
}

.search-input {
    width: 300px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-button {
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
@media (max-width: 575.98px) {
    .table-responsive-sm {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

@media (max-width: 767.98px) {
    .table-responsive-md {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

@media (max-width: 991.98px) {
    .table-responsive-lg {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

@media (max-width: 1599.98px) {
    .table-responsive-xl {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}
/* Agrega estos estilos en tus estilos CSS */
.styled-table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}
.styled-table th, .styled-table td {
    border: 1px solid  #e3e3e3;
    padding: 8px;
    text-align: center;
}
td {
    color: #5a5c69;
}

.styled-table th {
    background-color: #ffff;
    color: #1a202c;
}
.styled-table thead tr {
    border-bottom: 3px solid #e3e3e3;
}

footer {
    padding: 2rem 0;
    flex-shrink: 0;
    text-align: center;
    line-height: 1;
    font-size: 0.8rem;
    width: 100%;
    bottom: 0;
}

/* Estilos para los iconos de FontAwesome en el sidebar */
.sidebar i {
    font-size: 18px;
    margin-right: 5px;
    margin-bottom: 10px;

}


.btn-primary {
    color: #fff;
    background-color: #4e73df;
    border-color: #4e73df;
}
.btn-primary:hover {
    background-color: #2980b9;
}
.btn-danger {
    color: #fff;
    background-color: #d52a1a;
    border-color: #d52a1a;
}

.btn-danger:hover {
    color: #fff;
    background-color: #e02d1b;
    border-color: #e02d1b;
}

.btn-warning {
    color: #ffff;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-warning:hover {
    color: #ffff;
    background-color: #ffca2c;
    border-color: #ffca2c;
}

.btn-success {
    color: #fff;
    background-color: #1cc88a;
    border-color: #1cc88a;
}

.btn-success:hover {
    color: #fff;
    background-color: #17a673;
    border-color: #17a673;
}
.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

/* FORM */

/* Establecer un ancho máximo para el formulario */
.form {
    max-width: 100%;
}

/* Estilos personalizados para el formulario */
.form .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form .form-row .col-md-6 {
    flex-basis: calc(50% - 30px);
    margin-right: 20px;
}

/*!* Ajustes para pantallas pequeñas *!*/
@media (max-width: 767px) {
    .form .form-row .col-md-6 {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/* Establecer un ancho máximo para los elementos select */
.form select {
    max-width: 100%;
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}